@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");

.nav {
  background-color: azure;
  padding: 20px 0;
  height: 10vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 900;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  margin: 0 2rem;
  font-size: 15px;
  font-weight: 600;
}

.nav-item a {
  text-decoration: none;
  color: #000;
}

.nav-item a:hover {
  font-size: 18px;
}

.home {
  height: 90vh;
}

.home .bio {
  margin-top: 7rem;
  font-family: "Raleway", sans-serif;
}

.bio span {
  font-size: 7rem;
  display: block;
  color: #000;
}

.bio h2 {
  margin-top: 1rem;
  color: black;
  font-size: 15px;
  font-family: "Raleway";
}

.bio button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  width: 10rem;
  height: 3rem;
  margin-top: 1rem;
  font-family: "Raleway";
}

.bio button a {
  text-decoration: none;
  color: #fff;
}

.bio button:hover {
  cursor: pointer;
  border: 2px solid #000;
  background: transparent;
  color: #000;
}

.bio-image .image-box {
  position: relative;
}

.bio-image .square {
  border: 2px solid #000;
  width: 60%;
  height: 22.8rem;
  position: relative;
  z-index: 1;
  background-color: #000;
}

.bio-image img {
  width: 60%;
  position: absolute;
  z-index: 3;
  bottom: -10%;
  left: 5%;
  top: 8%;
}

.bio-image .square2 {
  border: 2px solid #000;
  width: 60%;
  height: 22.8rem;
  position: absolute;
  z-index: 2;
  background-color: #000;
  top: 15%;
  left: 10%;
}

/* Tablets and under */
@media (max-width: 768px) {
  .nav-item {
    margin: 0 1rem;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .nav .container {
    padding: 0 20px;
  }

  .nav {
    padding: 30px 0;
    height: 15vh;
  }

  .nav-item {
    margin: 0 0.5rem;
  }
}

/* Mobile */
@media (max-width: 400px) {
  .logo {
    font-size: 16px;
  }

  .nav-item {
    margin: 0 0.2rem;
  }

  .nav-item a {
    font-size: 12px;
  }
}
